
.checkbox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: var(--color-primary);

  &:hover {
    color: var(--color-text-heading-light);

    .icon {
      border-color: var(--color-text-heading-light);
    }

    &.checked .inner {
      background: var(--color-text-heading-light);
    }
  }

  cursor: pointer;

  font-size: 0.8em;

  input {
    display: none;
  }

  .check {
    display: none;
  }

  .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    padding: 1px;
    margin-right: 0.5em;
  }

  .inner {
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }

  &.checked .inner {
    background: var(--color-primary);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  &.checked .check {
    display: inline-block;
    color: white;
    font-size: 12px;
    path {
      stroke-width: 1.5px;
      stroke: white;
    }
  }
}