

.spotify {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 380px;
  position: relative;

  margin: 0 auto;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media print {
  .spotify {
    display: none;
  }
}